body{
    background-color: #614EA6;
}
.form-login{
    max-width: 650px;
}

.btn-cadastro{
    background-color: #FFF;
    color: #614EA6;
}
.btn-cadastro:hover{
    background-color: #F21667;
    color: #FFF;
}
.opcoes-cadastro a{
    text-decoration: none;
    color: #FFF;
    transition: .2s ease-in;
}
.opcoes-cadastro a:hover{
    color: #F21667
}