#logo{
    font-family: 'Lobster', cursive;
    font-size: 1.6rem;
    cursor: pointer;
    transition: .2s ease-in;
}
#logo:hover{
    color: #F21667 !important;
}
.navbar{
    background-color: #3670ff;
    font-family: 'Poppins', sans-serif;
}
#navbar-child{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
}
.nav-item a{
    color: #FFF;
    transition: .2s ease-in;
}
.nav-item a:hover{
    color: #F21667;
}
